TELEGRAM_BOT_TOKEN=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_BOT_API_BASE_URL=
TELEGRAM_BOT_API_FILE_URL=
TELEGRAM_BOT_API_LOCAL_MODE=
REVID_API_KEY=
HF_HOME=
HUGGINGFACE_HUB_CACHE=
NVIDIA_VISIBLE_DEVICES=
NVIDIA_DRIVER_CAPABILITIES=
